/* Global Variables */

:root {
  --primary-color: #245e40;
  --secondary-color: #f4b33d;
  --third-color: #0c8a0e;
  --fourth-color: #1d3e1e;

  --white: #EEE;
}

/*  Styles */

html, body {
  height: 100%;
  padding: none;
  margin: none;
}

body {
  background-color: var(--primary-color);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--white);
}

#main {
  flex: 1 0 auto;
}

#header {
  background-color: white;
  height: 80px;
}

#footer {
  background: var(--fourth-color);
  flex-shrink: 0;
}


.nav-button {
  border-radius: .25em;
  padding: .25em .5em;
  background: var(--third-color);
}
